# from .proto import {{ app_proto.lower() }}_pb2
# from .proto import {{ app_proto.lower() }}_pb2_grpc

# from binwen.servicer import ServicerMeta


# class {{ app_proto.title() }}Servicer({{ app_proto.lower() }}_pb2_grpc.{{ app_proto.title() }}Servicer, metaclass=ServicerMeta):

#     pass
